body {
  background: #111;
}

h1, h2 {
  color: #FFF;
}

h3, h4, h5, h6 {
  color: #AAA;
}

aside {
  height: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
  border: none;
}

a,
a:hover,
a:focus,
a:active {
  color: blueviolet;
  text-decoration: none;
}

a:hover {
  color: #b96ffd;
  text-decoration: none;
}

a.disabled,
a.disabled:hover,
a.disabled:focus,
a.disabled:active {
  color: rgba(170, 170, 170, 0.4);
  pointer-events: none;
}

.container {
  width: 100%;
  max-width: 1170px;
}

.unstyled-list {
  list-style: none;
  padding: 0;
}

.list-inline {
  font-size: 0;
}

.list-inline li {
  display: inline-block;
  font-size: 14px;
}

.flex-row {
  display: flex;
}

.flex-row:before {
  display: block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.maxvh {
  height: 100vh;
}

/* header */
header {
  display: flex;
  min-height: 110px;
  background: blueviolet;
  border-bottom: 1px solid #000;
}

header h1 {
  width: 100%;
  text-align: center;
}

header h1 small {
  display: block;
  color: #FFF;
}

/* Catalog List Styles */
#musicLibrary {
  height: 100vh;
  overflow: hidden;
}

#musicLibrary > div {
  height: calc(100vh - 110px);
}

#musicLibrary section {
  padding: 0;
  background: #222;
}

#musicLibrary .side-nav {
  min-width: 200px;
}

#musicLibrary .side-nav h4 {
  padding: 0 10px;
}

#musicLibrary .side-nav .filters-menu {
  height: calc(100% - 19px);
  overflow-y: auto;
}

#musicLibrary .side-nav .filters-menu > div {
  position: relative;
  min-height: 100%;
  padding: 10px;
}

#musicLibrary .side-nav .filters-menu > div:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: blueviolet;
  opacity: 0.4;
  cursor: ew-resize;
}

#musicLibrary .side-nav .filters-menu > div:after:hover {
  opacity: 0.8;
}

#musicLibrary .side-nav .filter-group {
  margin-bottom: 20px;
}

#musicLibrary .side-nav .filter-group h5 {
  margin-top: 0;
}

#musicLibrary .side-nav .filter-group ul li a {
  display: block;
  padding: 4px;
  border: 1px #333 solid;
  border-bottom-width: 0;
  text-transform: capitalize;
}

#musicLibrary .side-nav .filter-group ul li a.active {
  background: rgba(56, 41, 128, 0.9);
  border-bottom-width: 0;
  color: #FFF;
}

#musicLibrary .side-nav .filter-group ul li:last-child a {
  border-bottom-width: 1px;
}

#musicLibrary .main {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#musicLibrary .main table {
  table-layout: auto;
}

#musicLibrary .main table tr {
  border-bottom: 1px #333 solid;
  height: 39px;
}

#musicLibrary .main table th, #musicLibrary .main table td {
  position: relative;
  padding: 4px;
  color: #CCC;
}

#musicLibrary .main table th a, #musicLibrary .main table td a {
  display: block;
  padding: 8px;
  color: #FFF;
}

#musicLibrary .main table th {
  padding: 0;
}

#musicLibrary .main table th:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-right: 1px solid #000;
  cursor: ew-resize;
}

#musicLibrary .main table tbody > tr {
  cursor: default;
}

#musicLibrary .main table tbody > tr:nth-of-type(odd) {
  background-color: #111;
}
