.container {
  width: 100%;
  max-width: 1170px;
}

.modal .modal-dialog {
  padding: 30px;
}

.modal .modal-content {
  background-color: #222222;
  border: 1px solid #6718b0;
}

.modal .modal-content .modal-header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: #8A2BE2;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFAB68EA', endColorstr='#FF8A2BE2');
  background-image: -owg-linear-gradient(top, #ab68ea 0%, #8A2BE2 30%);
  background-image: -webkit-linear-gradient(top, #ab68ea 0%, #8A2BE2 30%);
  background-image: -moz-linear-gradient(top, #ab68ea 0%, #8A2BE2 30%);
  background-image: -o-linear-gradient(top, #ab68ea 0%, #8A2BE2 30%);
  background-image: linear-gradient(top, #ab68ea 0%, #8A2BE2 30%);
  border-bottom: 1px solid #6718b0;
}

.modal .modal-content .modal-header .close {
  color: #FFF;
  text-shadow: 0 1px 0 #000;
  opacity: 0.6;
  transition: opacity 200ms linear;
}

.modal .modal-content .modal-header .close:hover {
  opacity: 1;
}

.modal .modal-content .modal-header .modal-title {
  color: #FFF;
}

.modal .modal-content .modal-body {
  max-height: calc(100vh - 130px - 60px);
  overflow-y: auto;
  color: #eeeeee;
}

.btn-brand-primary {
  color: #FFF;
  background-color: #8A2BE2;
  border-color: #8A2BE2;
}

.btn-brand-primary:focus, .btn-brand-primary.focus {
  color: #FFF;
  background-color: #701ac0;
  border-color: #49117c;
}

.btn-brand-primary:hover {
  color: #FFF;
  background-color: #701ac0;
  border-color: #6b19b7;
}

.btn-brand-primary:active, .btn-brand-primary.active,
.open > .btn-brand-primary.dropdown-toggle {
  color: #FFF;
  background-color: #701ac0;
  border-color: #6b19b7;
}

.btn-brand-primary:active:hover, .btn-brand-primary:active:focus, .btn-brand-primary:active.focus, .btn-brand-primary.active:hover, .btn-brand-primary.active:focus, .btn-brand-primary.active.focus,
.open > .btn-brand-primary.dropdown-toggle:hover,
.open > .btn-brand-primary.dropdown-toggle:focus,
.open > .btn-brand-primary.dropdown-toggle.focus {
  color: #FFF;
  background-color: #5e16a0;
  border-color: #49117c;
}

.btn-brand-primary:active, .btn-brand-primary.active,
.open > .btn-brand-primary.dropdown-toggle {
  background-image: none;
}

.btn-brand-primary.disabled:hover, .btn-brand-primary.disabled:focus, .btn-brand-primary.disabled.focus, .btn-brand-primary[disabled]:hover, .btn-brand-primary[disabled]:focus, .btn-brand-primary[disabled].focus,
fieldset[disabled] .btn-brand-primary:hover,
fieldset[disabled] .btn-brand-primary:focus,
fieldset[disabled] .btn-brand-primary.focus {
  background-color: #8A2BE2;
  border-color: #8A2BE2;
}

.btn-brand-primary .badge {
  color: #8A2BE2;
  background-color: #FFF;
}

.btn-modify {
  background: transparent;
  color: #777777;
  transition: color 200ms linear;
}

.btn-modify:hover, .btn-modify:focus {
  color: #eeeeee;
}

.btn-rounded {
  border-radius: 100px;
}

.progress .progress-bar {
  background-color: #ab68ea;
}

.progress .progress-bar span {
  color: #6718b0;
}

.tooltip-inner {
  background-color: #8A2BE2;
  color: #FFF;
}

body {
  background: #222222;
  color: #eeeeee;
}

h1, h2 {
  color: #FFF;
}

h3, h4, h5, h6 {
  color: #AAA;
}

aside {
  height: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
  border: none;
}

a {
  transition: color 100ms linear;
}

a,
a:hover,
a:focus,
a:active {
  color: #8A2BE2;
  text-decoration: none;
}

a:hover {
  color: #ab68ea;
  text-decoration: none;
}

a.disabled,
a.disabled:hover,
a.disabled:focus,
a.disabled:active {
  color: rgba(170, 170, 170, 0.4);
  pointer-events: none;
}

:focus,
.btn:focus,
a:focus {
  outline-color: orange;
}

::selection {
  background: #ab68ea;
  /* WebKit/Blink Browsers */
}

/* header */
header {
  position: relative;
  display: flex;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  min-height: 130px;
  background-color: #8A2BE2;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFAB68EA', endColorstr='#FF8A2BE2');
  background-image: -owg-linear-gradient(top, #ab68ea 0%, blueviolet 30%);
  background-image: -webkit-linear-gradient(top, #ab68ea 0%, blueviolet 30%);
  background-image: -moz-linear-gradient(top, #ab68ea 0%, blueviolet 30%);
  background-image: -o-linear-gradient(top, #ab68ea 0%, blueviolet 30%);
  background-image: linear-gradient(top, #ab68ea 0%, blueviolet 30%);
  border-bottom: 1px solid #000;
  overflow: hidden;
}

header .audio-title {
  width: 100%;
  color: #FFF;
  text-align: center;
  text-shadow: #6718b0 0px 2px 10px;
  z-index: 1;
}

header .audio-title .time-display {
  font-size: 16px;
}

header .audio-title small {
  display: block;
  color: #FFF;
}

header canvas {
  position: absolute;
  top: 30px;
  width: 100%;
  height: calc(130px - 31px) !important;
}

header progress[value] {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}

header progress[value]::-webkit-progress-bar {
  background-color: #8A2BE2;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

header progress[value]::-webkit-progress-value {
  border-radius: 2px;
  background-color: #d8b8f5;
}

.main {
  height: 100vh;
  overflow: hidden;
}

.main > div {
  height: calc(100vh - 130px - 45px);
}

.main section {
  padding: 0;
  background: #222222;
}

.main .tab-panel {
  position: absolute;
  height: 0;
  width: 0;
  overflow-y: auto;
  left: -1000%;
}

.main .tab-panel.active {
  position: relative;
  left: 0;
  height: 100%;
  width: 100%;
}

.main .filters {
  position: relative;
  min-width: 200px;
  border-right: 1px solid #333333;
}

.main .filters:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background: #8A2BE2;
  cursor: col-resize;
}

.main .filters .filters-title {
  margin: 0;
  padding: 0 10px;
  height: 39px;
  background-color: #8A2BE2;
  color: #FFF;
  line-height: 2;
}

.main .filters .filters-menu {
  height: calc(100% - 39px);
  overflow-y: auto;
}

.main .filters .filters-menu > div {
  position: relative;
  min-height: 100%;
  padding: 10px calc(10px + 5px) 10px 10px;
}

.main .filters .filter-group {
  margin-bottom: 20px;
}

.main .filters .filter-group h5 {
  margin-top: 0;
}

.main .filters .filter-group ul li a {
  display: block;
  padding: 4px;
  border: 1px #333333 solid;
  border-bottom-width: 0;
  text-transform: capitalize;
  transition: 200ms background linear;
}

.main .filters .filter-group ul li a.active {
  background: #6718b0;
  border-bottom-width: 0;
  color: #FFF;
}

.main .filters .filter-group ul li:last-child a {
  border-bottom-width: 1px;
}

.main .list {
  width: 100%;
  height: 100%;
}

.main .list .scroll-area {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.main .list table {
  table-layout: auto;
}

.main .list table thead {
  background: #6718b0;
}

.main .list table tr {
  border-bottom: 1px #333333 solid;
  height: 39px;
}

.main .list table th, .main .list table td {
  position: relative;
  padding: 4px;
  color: #eeeeee;
}

.main .list table th a, .main .list table td a {
  display: block;
  padding: 8px;
  color: #FFF;
}

.main .list table th {
  padding: 0;
  -webkit-user-select: none;
}

.main .list table th:first-child, .main .list table th:last-child {
  width: 40px !important;
}

.main .list table th:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-right: 1px solid #000;
  cursor: col-resize;
}

.main .list table td:first-child, .main .list table td:last-child {
  text-align: center;
}

.main .list table tbody {
  height: 100%;
  overflow-y: auto;
}

.main .list table tbody > tr {
  cursor: default;
}

.main .list table tbody > tr:nth-of-type(odd) {
  background-color: #333333;
}

.main .list table tbody > tr:hover {
  background-color: rgba(103, 24, 176, 0.5);
}

.main .list table tbody > tr > td:last-child {
  text-align: center;
}

.main .preferences,
.main .playlist {
  padding: 20px;
  width: 100%;
}

.main .preferences .title,
.main .playlist .title {
  margin: 0;
  font-size: 60px;
  color: #333333;
  text-align: right;
}

.main .preferences .body,
.main .playlist .body {
  margin-top: -30px;
}

.main .preferences .file-path {
  display: block;
  padding: 10px 0 0;
  color: #777777;
}

#Id3EditorForm .form-group input[type="text"],
#Id3EditorForm .form-group textarea {
  color: #eeeeee;
  background-color: #000;
  background-image: none;
  border-color: #333333;
  border-radius: 6px;
}

#Id3EditorForm .form-group input[type="text"]:focus,
#Id3EditorForm .form-group textarea:focus {
  border-color: #6718b0;
  -webkit-box-shadow: rgba(103, 24, 176, 0.6) 0 0 8px, rgba(171, 104, 234, 0.075) 0 1px 1px inset;
  box-shadow: rgba(103, 24, 176, 0.6) 0 0 8px, rgba(171, 104, 234, 0.075) 0 1px 1px inset;
}

#Id3EditorForm .form-group input[type="text"].form-control[disabled],
#Id3EditorForm .form-group textarea.form-control[disabled] {
  color: #777777;
  background-color: #333333;
  cursor: text;
}

footer {
  background: #8A2BE2;
  height: 45px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

footer > div > div {
  white-space: nowrap;
}

footer > div .console-log {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #d8b8f5;
}

footer > div .footer-menu {
  padding-top: 7px;
  padding-right: 10px;
}

footer > div .footer-menu .nav-tabs {
  border-bottom: none;
  white-space: nowrap;
}

footer > div .footer-menu .nav-tabs > li {
  float: none;
  display: inline-block;
}

footer > div .footer-menu .nav-tabs > li > a {
  padding: 4px 15px;
  background-color: #8A2BE2;
  border-color: #6718b0;
  border-radius: 3px;
  color: #eeeeee;
}

footer > div .footer-menu .nav-tabs > li > a:hover {
  color: #FFF;
}

footer > div .footer-menu .nav-tabs > li.active a {
  background-color: #ab68ea;
  border-color: #6718b0;
  color: #FFF;
}

:focus {
  outline: none !important;
}

.theme-pallete {
  position: absolute;
  left: -1000%;
}

.theme-pallete .primary {
  background-color: #8A2BE2;
}

.theme-pallete .primary-light {
  background-color: #ab68ea;
}

.theme-pallete .primary-dark {
  background-color: #6718b0;
}

.theme-pallete .primary-highlight {
  background-color: #d8b8f5;
}

.unstyled-list {
  list-style: none;
  padding: 0;
}

.list-inline {
  font-size: 0;
}

.list-inline li {
  display: inline-block;
  font-size: 14px;
}

.flex-row, .main .tab-panel {
  display: flex;
}

.flex-row:before, .main .tab-panel:before {
  display: block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.maxvh {
  height: 100vh;
}
