/* header */
@import "variables";

header {
  position: relative;
  display: flex;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  min-height: $header-height;
  background-color: $brand-primary;
  @include filter-gradient($brand-primary-light, $brand-primary, vertical);
  @include background-image(linear-gradient(top, rgba($brand-primary-light, 1) 0%,rgba($brand-primary, 1) 30%));
  border-bottom: 1px solid $gray-base;
  overflow: hidden;
  @import "audio-player";
  progress[value] {
    -webkit-app-region: no-drag;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12px;
    -webkit-appearance: none;
    appearance: none;
    &::-webkit-progress-bar {
      background-color: $brand-primary;
      border-radius: 0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    &::-webkit-progress-value {
        border-radius: 2px;
        background-color: $brand-primary-highlight;
    }
  }
}
