// library
@import "variables";

.main {
  height: 100vh;
  overflow: hidden;
  > div {
    height: calc(100vh - #{$header-height} - #{$footer-height});
  }
  section {
    padding: 0;
    background: $gray-darker;
  }
  .tab-panel {
    @extend .flex-row;
    position: absolute;
    height: 0;
    width: 0;
    overflow-y: auto;
    left: -1000%;
    &.active {
      position: relative;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  @import "library-filters";
  @import "library-list";

  .preferences,
  .playlist {
    padding: 20px;
    width: 100%;
    .title {
      margin: 0;
      font-size: 60px;
      color: $gray;
      text-align: right;
    }
    .body {

    }
  }
}
