// library-filters
@import "variables";

.filters {
  min-width: 200px;
  .filters-title {
    padding: 0 10px;
    color: $white;
  }
  .filters-menu {
    height: calc(100% - 19px);
    overflow-y: auto;
    > div {
      position: relative;
      min-height: 100%;
      padding: 10px;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 100%;
        background: $brand-primary-dark;
        opacity: 0.4;
        cursor: ew-resize;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .filter-group {
    margin-bottom: 20px;
    h5 {
      margin-top: 0;
    }
    ul {
      li {
        a {
          display: block;
          padding: 4px;
          border: 1px $gray-dark solid;
          border-bottom-width: 0;
          text-transform: capitalize;
          &.active {
            background: $brand-primary-dark;
            border-bottom-width: 0;
            color: $white;
          }
        }
        &:last-child {
          a {
            border-bottom-width: 1px;
          }
        }
      }
    }
  }
}
