/* Catalog List Styles */
@import "variables";

#musicLibrary {
  height: 100vh;
  overflow: hidden;
  > div {
    height: calc(100vh - #{$header-height});
  }
  section {
    padding: 0;
    background: #222;
  }
  .main {
    @extend .flex-row;
  }
  .filters {
    min-width: 200px;
    .filters-title {
      padding: 0 10px;
      color: #FFF;
    }
    .filters-menu {
      height: calc(100% - 19px);
      overflow-y: auto;
      > div {
        position: relative;
        min-height: 100%;
        padding: 10px;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 10px;
          height: 100%;
          background: blueviolet;
          opacity: 0.4;
          cursor: ew-resize;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .filter-group {
      margin-bottom: 20px;
      h5 {
        margin-top: 0;
      }
      ul {
        li {
          a {
            display: block;
            padding: 4px;
            border: 1px #333 solid;
            border-bottom-width: 0;
            text-transform: capitalize;
            &.active {
              background: rgba(56, 41, 128, 0.9);
              border-bottom-width: 0;
              color: #FFF;
            }
          }
          &:last-child {
            a {
              border-bottom-width: 1px;
            }
          }
        }
      }
    }
  }
  .list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    > div {
      // padding: 0 10px;
    }
    table {
      table-layout: auto;
      thead {
        // background: blueviolet;
      }
      tr {
        border-bottom: 1px #333 solid;
        height: 39px;
      }
      th, td {
        position: relative;
        padding: 4px;
        color: #CCC;
        a {
          display: block;
          padding: 8px;
          color: #FFF;
        }
      }
      th {
        padding: 0;
      }
      th:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background: rgba(255,255,255,0.2);
        border-right: 1px solid #000;
        cursor: ew-resize;
      }
      tbody {
        > tr {
          cursor: default;
          &:hover {

          }
        }
        > tr:nth-of-type(odd) {
          background-color: #111;
        }
      }
    }
  }
}
