// library
@import "variables";

#musicLibrary {
  height: 100vh;
  overflow: hidden;
  > div {
    height: calc(100vh - #{$header-height});
  }
  section {
    padding: 0;
    background: $gray-darker;
  }
  .main {
    @extend .flex-row;
  }
  @import "library-filters";
  @import "library-list";
}
