// library
@import "variables";

.main {
  height: 100vh;
  overflow: hidden;
  > div {
    height: calc(100vh - #{$header-height} - #{$footer-height});
  }
  section {
    padding: 0;
    background: $gray-darker;
  }
  .tab-content {
    .tab-panel {
      @extend .flex-row;
      position: absolute;
      height: 0;
      width: 0;
      overflow-y: auto;
      left: -1000%;
      &.active {
        position: relative;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
    .title {
      position: absolute;
      top: 20px;
      right: 20px;
      margin: 0;
      font-size: 60px;
      color: $gray-dark;
      text-align: right;
    }
  }

  @import "library-filters";
  @import "library-list";

  .preferences,
  .playlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 60px;
    overflow: hidden;
  }
  .playlist {
    .scroll-area {
      position: absolute;
      top: 1px;
      height: calc(100% - 31px);
      overflow-y: auto;
    }
    .bottom {
      margin-top: auto;
      height: 30px;
      padding: 10px 20px 0;
      background-color: $gray-dark;
    }
  }
  .preferences {
    .scroll-area {
      height: 100%;
      padding: 20px;
      overflow-y: auto;
      .file-path {
        display: block;
        padding: 10px 0 0;
        color: $gray-light;
      }
    }
  }
}
