// Main.css

@import "compass";
@import "variables"; // bootstrap vars
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins"; // bootstrap mixins

@import "bootstrap-main";
@import "html";

@import "header";
@import "library";
@import "id3";
@import "footer";

.theme-pallete {
  position: absolute;
  left: -1000%;
  .primary {
    background-color: $brand-primary;
  }
  .primary-light {
    background-color: $brand-primary-light;
  }
  .primary-dark {
    background-color: $brand-primary-dark;
  }
  .primary-highlight {
    background-color: $brand-primary-highlight;
  }
}

.unstyled-list {
  list-style: none;
  padding: 0;
}

.list-inline {
  font-size: 0;
  li {
    display: inline-block;
    font-size: $font-size-base;
  }
}

.flex-row {
  display: flex;
  &:before {
    display: block;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.maxvh {
  height: 100vh;
}
