// Main.css

@import "variables";

body {
  background: #111;
}

h1, h2 {
  color: #FFF;
}

h3, h4 ,h5 ,h6 {
  color: #AAA;
}

aside {
  height: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
  border: none;
}

a,
a:hover,
a:focus,
a:active {
  color: blueviolet;
  text-decoration: none;
}

a:hover {
  color: #b96ffd;
  text-decoration: none;
}

a.disabled,
a.disabled:hover,
a.disabled:focus,
a.disabled:active {
  color: rgba(170,170,170, 0.4);
  pointer-events: none;
}

.container {
  width: 100%;
  max-width: 1170px;
}

.unstyled-list {
  list-style: none;
  padding: 0;
}

.list-inline {
  font-size: 0;
  li {
    display: inline-block;
    font-size: $font-size-base;
  }
}

.flex-row {
  display: flex;
  &:before {
    display: block;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.maxvh {
  height: 100vh;
}

@import 'header';
@import 'catalog-list';
