// Main.css

@import "compass";
@import "variables"; // bootstrap vars
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins"; // bootstrap mixins

@import "bootstrap-main";
@import "html";

@import "header";
@import "library";
@import "id3";
@import "footer";

.unstyled-list {
  list-style: none;
  padding: 0;
}

.list-inline {
  font-size: 0;
  li {
    display: inline-block;
    font-size: $font-size-base;
  }
}

.flex-row {
  display: flex;
  &:before {
    display: block;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.maxvh {
  height: 100vh;
}
